:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #1f2128;
  color: white;
  font-weight: 500;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;

  img {
    width: 40px;
  }

  span {
    flex: 1;
  }

  svg {
    cursor: pointer;
  }
}

.content {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  svg {
    width: 80px;
    height: 80px;
  }

  span {
    font-size: 1.5rem;
  }
}
