:host {
  --ion-safe-area-top: var(--ion-statusbar-padding);
}

ion-content {
  --padding-start: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-top: var(--ion-safe-area-top + 1rem);
  --ion-safe-area-top: var(--ion-statusbar-padding);

}

.header {
  padding: 1rem;
  background-color: var(--ion-color-primary, #3880ff);
  color: white;
}

.content {
  padding: 1rem;
}
